{{extends "base.html"}}

{{define "head"}}
<style>
    .spinner {
        transition: width 0.15s ease;
        display: inline-block;
        overflow: hidden;
        width: 0;
    }

    .htmx-request.spinner {
        width: 30px;
    }
</style>
{{end}}

{{define "script"}}
<script src="/public/js/response-targets.js"></script>
<script>
    function clearForm(event, formElement) {
        // clear form if success
        if (event.detail.xhr.status === 200) {
            formElement.reset();
        } else {

        }

        // clear the success text after 5 sec
        setTimeout(function () {
            const element = document.getElementById("server-status");
            if (element) {
                element.textContent = '';
            }
        }, 5000);
    }

    function fetchUrlParams() {
        const urlParameters = new URLSearchParams(window.location.search);
        console.log(urlParameters)
        return {
            userId: urlParameters.get('userId') || '',
            email: urlParameters.get('email') || '',
            type: urlParameters.get('type') || 'Feedback',
        };
    }
</script>
{{end}}

{{define "endscript"}}

<script src="/public/js/particles@2.0.0.js"></script>

<script>
    particlesJS.load('particles-js', '/public/config/particlesjs-config.json', function () {
        console.log('callback - particles.js config loaded');
    });
</script>

{{end}}

{{define "content"}}

<div class="space-y-16">
    <div class="bg-earth flex flex-col justify-between h-[95vh] overflow-hidden">
        <div class="grid place-items-center gap-4 pt-[100px] ">
            <h1 class="text-center tracking-wide text-4xl md:text-7xl">
                Bridging the Gap<br> Between <span class="text-earth-text font-bold">AI</span> and <span
                    class="text-earth-text font-bold">Your<br>
                    Business</span>
            </h1>
            <a href="#contact" class="btn btn-lg btn-primary">
                Learn More
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.0378 6.34317L13.6269 7.76069L16.8972 11.0157L3.29211 11.0293L3.29413 13.0293L16.8619 13.0157L13.6467 16.2459L15.0643 17.6568L20.7079 11.9868L15.0378 6.34317Z"
                        fill="currentColor" />
                </svg>
            </a>
        </div>
        <img src="/public/images/earth.png" class="object-scale-down h-fit" />
        <div id="particles-js" class="absolute w-screen h-[95vh] pointer-events-none"></div>
    </div>
    <div class="safe-area px-4 py-16 space-y-16">
        <div class="grid md:grid-cols-2 gap-4 place-items-center">
            <div class="space-y-8">
                <h3 data-aos="fade-up" class="text-3xl md:text-5xl font-semibold">AI Tools Are...<br> <span
                        class="text-primary text-5xl md:text-7xl underline">Complicated</span>
                </h3>
                <p data-aos="fade-up" data-aos-delay="200" class="text-lg">
                    Tools like <a class="link link-primary" href="https://chat.openai.com" target="_blank"
                        rel="noopener noreferrer">ChatGPT</a> and <a class="link link-primary"
                        href="https://zapier.com/apps/ai/integrations" target="_blank"
                        rel="noopener noreferrer">Zapier</a> are undoubtably powerful, but
                    how these tools can
                    integrate into your existing business workflows is complicated... Plus, most engineering teams are
                    not trained to quickly integrate and develop these products.
                </p>
            </div>
            <div class="">
                <img data-aos="fade-left" src="/public/svg/work-stress.svg" />
            </div>
        </div>
        <div class="space-y-8">
            <div data-aos="fade-up" class="grid place-items-center text-center">
                <h2 class="text-5xl md:text-6xl max-w-3xl font-semibold">Our Team is Your<br> <span
                        class="text-primary">AI
                        Expert</span></h2>
            </div>
            <div class="grid lg:grid-cols-3 gap-4">
                {{range .Offerings}}
                <div data-aos="fade-up" data-aos-delay="100">
                    {{template "card1.html" .}}
                </div>
                {{end}}
            </div>
        </div>
    </div>
    <div class="bg-black">
        <div class="safe-area px-4 py-16 space-y-16">
            <div class="space-y-4">
                <h2 data-aos="fade-right" class="text-5xl md:text-7xl text-white font-bold">Why Us?</h2>
                <p data-aos="fade-right" data-aos-delay="100" class="text-lg max-w-2xl">
                    The developers at Portland AI have been involved in the AI industry before mainstream
                    adoption. We use our fundamental understanding of tools like ChatGPT
                    and DALL•E to integrate seamlessly with your existing business practices.
                </p>
            </div>
            <div class="grid md:grid-cols-2 gap-4 place-items-center">
                <div class="space-y-4">
                    <div data-aos="fade-up" class="text-center md:text-left">
                        <p class="text-2xl text-gray-500">Our Philosophy</p>
                        <h2 class="text-4xl md:text-5xl font-semibold"><span
                                class="text-primary underline">Collaborators.</span>
                            Not Clients</h2>
                    </div>
                    <p data-aos="fade-up" data-aos-delay="100" class="text-lg">
                        We are not interested in clients, but rather see our services more as a collaboration between
                        individuals sharing knowledge and expertise. We will not recommend AI to businesses who do not
                        need
                        it. We will not attempt to persuade a business into using AI when they are not convinced
                        themselves
                        it is an answer, that is not who we are targeting or who we are. Our target is successful
                        businesses
                        with owners who recognize and believe in the utility of AI in a practical business sense, but do
                        not
                        know or do not have the engineering budget to build out full scale tools that help alleviate
                        these
                        business struggles. We step in, help our collaborator identify places where AI can (and arguably
                        more importantly where it can NOT) help to solve a problem.
                    </p>
                </div>
                <div class="">
                    <img data-aos="fade-left" data-aos-delay="100" src="/public/svg/consult.svg" />
                </div>
            </div>
            <div class="grid md:grid-cols-2 gap-4 place-items-center">
                <div class="space-y-4">
                    <div data-aos="fade-up" class="text-center md:text-left">
                        <p class="text-2xl text-gray-500">Useful AI</p>
                        <h2 class="text-4xl md:text-5xl font-semibold">Only When<br> <span
                                class="text-primary underline">AI Makes
                                Sense</span></h2>
                    </div>
                    <p data-aos="fade-up" data-aos-delay="100" class="text-lg">
                        We do not market AI tools and solutions as a silver bullet that can solve any of your problems.
                        We are realistic in our observation of the space, and openly critique tools / technologies /
                        companies in all aspects where they fall short. But we are also quick to highlight the specific
                        circumstances where AI can help and be a superpower. Ultimately, we believe in balance.
                    </p>
                </div>
                <div class="">
                    <img data-aos="fade-left" data-aos-delay="100" src="/public/svg/puzzle.svg" />
                </div>
            </div>
            <div class="grid place-items-center">
                <div data-aos="fade-up" class="max-w-4xl bg-base-300 rounded-xl p-4 space-y-4">
                    <div class="flex space-x-1 text-amber-500">
                        <template x-for="i in Array.from({ length: 5 }, (_, i) => i)">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11 6H13V10.079L16.3413 7.73938L17.4885 9.37768L13.7434 12L17.4885 14.6223L16.3413 16.2606L13 13.921V18H11V13.921L7.65864 16.2606L6.51148 14.6223L10.2565 12L6.51147 9.37769L7.65863 7.73938L11 10.079V6Z"
                                    fill="currentColor" />
                            </svg>
                        </template>
                    </div>
                    <p>
                        Kevin has been the primary programmer for our business for the past 15 years. We've gone through
                        numerous technology changes in that time and Kevin has kept up with it all making sure our
                        business
                        is best leveraging the available technology to keep our highly automated business running
                        smoothly.
                        Besides being an astute business man who often leads the changes we need to make to stay viable,
                        he
                        is also very responsive to make the changes we request as well.
                    </p>
                    <p class="font-bold">Michelle Labrosse - Cheetah Learning</p>
                </div>
            </div>
            <div class="space-y-8 pt-16 md:pt-32">
                <div data-aos="fade-up" class="text-center grid place-items-center">
                    <p class="text-2xl text-gray-500">Showcase</p>
                    <h2 class="text-4xl md:text-5xl font-semibold">Our Portfolio</h2>
                </div>
                <div class="grid lg:grid-cols-2 gap-8">
                    {{range .Portfolio}}
                    <div data-aos="fade-up" class="">
                        {{template "card1.html" .}}
                    </div>
                    {{end}}
                </div>
            </div>
            <div class="space-y-8 pt-16 md:pt-32">
                <div class="text-center grid place-items-center">
                    <p class="text-2xl text-gray-500">Expertise</p>
                    <h2 class="text-4xl md:text-5xl font-semibold">The Technologies We Know</h2>
                </div>
                {{template "aiTools.html" .Technologies}}
            </div>
        </div>

        <div class="mt-32 mx-4">
            <div id="contact" hx-ext="response-targets" class="mx-auto max-w-2xl space-y-2">
                <h2 data-aos="fade-up" class="grid place-items-center text-2xl font-medium">Let's Chat</h2>
                <div data-aos="fade-up" data-aos-delay="100" class="bg-base-100 rounded-xl p-2">
                    <form hx-post="/events/send-support-form" hx-on="htmx:afterRequest: clearForm(event, this)"
                        hx-target="#server-status" hx-target-400="#server-status" hx-target-500="#server-status"
                        hx-swap="innerHTML" hx-indicator="#spinner" class="space-y-2">
                        <div class="form-control w-full">
                            <label class="label">
                                <span class="label-text">Email*</span>
                            </label>
                            <input type="email" placeholder="support@portlandai.io" name="email"
                                class="input input-bordered input-primary w-full" />
                            <label class="label">
                                <span class="label-text-alt">This is used to ensure a response to you.</span>
                            </label>
                        </div>
                        <div class="form-control w-full">
                            <label class="label">
                                <span class="label-text">Name</span>
                            </label>
                            <input type="text" placeholder="Jake" name="name" class="input input-bordered w-full" />
                            <label class="label">
                                <span class="label-text-alt"></span>
                            </label>
                        </div>
                        <div class="form-control w-full">
                            <label class="label">
                                <span class="label-text">Message*</span>
                            </label>
                            <input type="text" placeholder="Tell us what you want to talk about?" name="message"
                                class="input input-bordered input-primary w-full" />
                            <label class="label">
                                <span class="label-text-alt"></span>
                            </label>
                        </div>
                        <div class="flex space-x-2">
                            <div class="w-[100%]">
                                <a href="https://calendly.com/jake-sapphirenw/30min" target="_blank"
                                    rel="noopener noreferrer" class="btn btn-primary btn-outline w-[100%] py-2">
                                    <div class="flex items-center">
                                        <span class="submit">Schedule a Video Meeting</span>
                                    </div>
                                </a>
                            </div>
                            <div class="w-[100%]">
                                <button class="btn btn-primary w-[100%] py-2">
                                    <div class="flex items-center">
                                        <span class="submit">Submit Form</span>
                                        <img id="spinner" class="spinner object-scale-down h-[20px]"
                                            src="/public/svg/spinner.svg">
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="grid place-items-center h-[50px]">
                    <div id="server-status"></div>
                </div>
            </div>
        </div>

        <div class="h-[100px]"></div>
    </div>
</div>

{{end}}