<!doctype html>
<html>

<head>
    <!-- template defined title -->
    {{block "title" .}}<title>Portland AI Consulting</title>{{end}}

    <!-- Template overriden header values, defaults inside block -->
    {{block "head" .}}
    <meta name="description"
        content="Bridging the gap between AI and your business. Proudly crafted in the Pacific Northwest, for your local business." />
    <meta name="keywords"
        content="Workouts, Fitness, Exercise, App, Mobile App, Tracking, Fitness Tracking, Workout Tracking, Workout Notebook App, Portland AI, Workout Logging App, Exercise Tracking App, Workout Tracking App">
    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://portlandai.io" />
    <meta property="og:site_name" content="Portland AI" />
    <meta property="og:title" content="Portland AI" />
    <meta property="og:description"
        content="Bridging the gap between AI and your business. Proudly crafted in the Pacific Northwest, for your local business." />
    <meta property="og:image" content="https://portlandai.io/public/images/wn-db-bg.png" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://portlandai.io" />
    <meta name="twitter:creator" content="@creator" />
    <meta name="twitter:title" content="Portland AI" />
    <meta name="twitter:description"
        content="Bridging the gap between AI and your business. Proudly crafted in the Pacific Northwest, for your local business." />
    {{end}}

    <!-- Sitewide headers -->
    <meta charset="utf-8">
    <meta name="author" content="Jake Landers" />
    <link rel="author" href="https://sapphirenw.com" />
    <meta name="color-scheme" content="light" />
    <meta name="creator" content="Jake Landers" />
    <meta name="publisher" content="SapphireNW" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="index, follow" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="stylesheet" href="../public/css/app.css">
    <link rel="stylesheet" href="../public/css/icons.css">
    <link rel="stylesheet" href="../public/css/aos.css">
</head>

<body data-theme="base" class="min-h-screen flex flex-col justify-between">
    <!-- Base scripts -->
    <script src="/public/js/htmx.js"></script>
    <script src="/public/js/alpine.js"></script>
    <script src="/public/js/aos.js"></script>

    <script>
        AOS.init({
            duration: 500,
            easing: "ease",
        });
    </script>

    <!-- Page defined sripts -->
    {{block "script" .}}{{end}}

    <header id="navbar" class="w-screen fixed top-0 z-40 transition-all">
        <div class="navbar safe-area">
            <div class="md:navbar-start">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-200 rounded-box w-52">
                        {{template "menu.html"}}
                    </ul>
                </div>
                <div class="">
                    <a href="/" class="flex items-center px-2 mx-2 btn btn-ghost">
                        <img src="/public/images/portlandai.png" class="h-[40px] w-[40px] object-scale-down" />
                        <h1 class="text-3xl pl-2 font-semibold">Portland AI</h1>
                    </a>
                </div>
            </div>
            <div class="navbar-end hidden md:flex">
                <ul class="menu menu-horizontal px-1">
                    {{template "menu.html"}}
                </ul>
            </div>
        </div>
    </header>

    <!-- Content -->
    <div class="z-0">
        {{block "content" .}}{{end}}
    </div>

    <!-- Footer -->
    <footer class="footer items-center p-4">
        <div class="safe-area w-[100%] flex items-center justify-between">
            <aside class="items-center flex space-x-2">
                <img src="/public/images/portlandai.png" alt="WN Dumbbell"
                    class="h-[30px] w-[30px] object-scale-down" />
                <p>Copyright © 2023 - All right reserved</p>
            </aside>
            <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
                <a href="https://www.linkedin.com/company/89925639" target="_blank" rel="noopener noreferrer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        class="fill-current md:hover:opacity-50 transition-opacity" viewBox="0 0 24 24">
                        <path
                            d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" />
                    </svg>
                </a>
            </nav>
        </div>
    </footer>

    <!-- change title bar color when scrolling -->
    <script>
        window.addEventListener('scroll', function () {
            const navbar = document.getElementById('navbar');
            if (window.scrollY > 100) {
                navbar.classList.add('bg-base-200');
                navbar.classList.add('shadow-lg');
            } else {
                navbar.classList.remove('bg-base-200');
                navbar.classList.remove('shadow-lg');
            }
        });
    </script>

    <!-- scripts that should run after page render -->
    {{block "endscript" .}}{{end}}
</body>

</html>